<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>739087683855-p6stbvfi28id8v4e5eui7fgn8l7hc67d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.739087683855-p6stbvfi28id8v4e5eui7fgn8l7hc67d</string>
	<key>API_KEY</key>
	<string>AIzaSyCZfXyF-uFJrposyprt7MpUePiN9fgqprA</string>
	<key>GCM_SENDER_ID</key>
	<string>739087683855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.carkcioglu.InstaClone</string>
	<key>PROJECT_ID</key>
	<string>instaclone-fba02</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclone-fba02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:739087683855:ios:9a3f75f9b21d9e86beee7a</string>
</dict>
</plist>